.cardForm {
  max-width: 400px;
  margin: 100px auto; /* centré verticalement et horizontalement */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
